table, td, th{
    border: 1px solid darkgrey;
    font-family: Arial;

}

th{
    font-style: italic;
}

td.Naturwissenschaften {
    background-color: green;
    color: orange;
}

td.Sonstige {
    background-color: blue;
    color: white;
}
 
td.Sprachen{
    background-color: red;
    color: yellow;
}