body{
    background-color:  #3b5f3c;
    }

img{
    width: 20%;
    height: 20%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color:  #3b5f3c;
    text-align: center;
    font-size: 30px;
    color: white;
  }

